/* line 14, ../sass/loader.scss */
html, body {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/loader.scss */
body {
  background: #314D5C;
}

/* line 27, ../sass/loader.scss */
.loader {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  -webkit-animation: rotate 5s ease-out infinite;
  border-radius: 10px;
  overflow: hidden;
}
/* line 41, ../sass/loader.scss */
.loader:before, .loader:after {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}
/* line 51, ../sass/loader.scss */
.loader:before {
  background: #da4936;
  box-shadow: 20px 0 0 #da4936, 40px 0 0 #da4936, 0 20px 0 #da4936, 20px 20px 0 #da4936, 40px 20px 0 #da4936, 0 40px 0 #da4936, 20px 40px 0 #da4936, 40px 40px 0 #da4936;
  -webkit-animation: one 5s ease infinite;
}
/* line 66, ../sass/loader.scss */
.loader:after {
  background: #2c6e6d;
  box-shadow: 20px 0 0 #2c6e6d, 40px 0 0 #2c6e6d, 0 20px 0 #2c6e6d, 20px 20px 0 #2c6e6d, 40px 20px 0 #2c6e6d, 0 40px 0 #2c6e6d, 20px 40px 0 #2c6e6d, 40px 40px 0 #2c6e6d;
  -webkit-animation: two 5s ease infinite;
  z-index: 2;
}

@-webkit-keyframes one {
  /* line 87, ../sass/loader.scss */
  0% {
    background: transparent;
    box-shadow: 20px 0 0 #da4936, 40px 0 0 #da4936, 0 20px 0 #da4936, 20px 20px 0 #da4936, 40px 20px 0 #da4936, 0 40px 0 #da4936, 20px 40px 0 #da4936, 40px 40px 0 #da4936;
    z-index: 1;
  }

  /* line 99, ../sass/loader.scss */
  5% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 #da4936, 0 20px 0 #da4936, 20px 20px 0 #da4936, 40px 20px 0 #da4936, 0 40px 0 #da4936, 20px 40px 0 #da4936, 40px 40px 0 #da4936;
  }

  /* line 110, ../sass/loader.scss */
  10% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 #da4936, 20px 20px 0 #da4936, 40px 20px 0 #da4936, 0 40px 0 #da4936, 20px 40px 0 #da4936, 40px 40px 0 #da4936;
  }

  /* line 121, ../sass/loader.scss */
  15% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 #da4936, 40px 20px 0 #da4936, 0 40px 0 #da4936, 20px 40px 0 #da4936, 40px 40px 0 #da4936;
  }

  /* line 132, ../sass/loader.scss */
  20% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 #da4936, 0 40px 0 #da4936, 20px 40px 0 #da4936, 40px 40px 0 #da4936;
  }

  /* line 143, ../sass/loader.scss */
  25% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 #da4936, 20px 40px 0 #da4936, 40px 40px 0 #da4936;
  }

  /* line 154, ../sass/loader.scss */
  30% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 #da4936, 40px 40px 0 #da4936;
  }

  /* line 165, ../sass/loader.scss */
  35% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 #da4936;
  }

  /* line 176, ../sass/loader.scss */
  40% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
  }

  /* line 187, ../sass/loader.scss */
  45% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
    z-index: 1;
  }

  /* line 199, ../sass/loader.scss */
  50%, 100% {
    background: #da4936;
    box-shadow: 20px 0 0 #da4936, 40px 0 0 #da4936, 0 20px 0 #da4936, 20px 20px 0 #da4936, 40px 20px 0 #da4936, 0 40px 0 #da4936, 20px 40px 0 #da4936, 40px 40px 0 #da4936;
    z-index: 0;
  }

  /* line 211, ../sass/loader.scss */
  100% {
    z-index: 0;
  }
}

@-webkit-keyframes two {
  /* line 220, ../sass/loader.scss */
  0%,49% {
    background: #2c6e6d;
    z-index: 0;
  }

  /* line 224, ../sass/loader.scss */
  50% {
    background: transparent;
    box-shadow: 20px 0 0 #2c6e6d, 40px 0 0 #2c6e6d, 0 20px 0 #2c6e6d, 20px 20px 0 #2c6e6d, 40px 20px 0 #2c6e6d, 0 40px 0 #2c6e6d, 20px 40px 0 #2c6e6d, 40px 40px 0 #2c6e6d;
    z-index: 1;
  }

  /* line 236, ../sass/loader.scss */
  55% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 #2c6e6d, 0 20px 0 #2c6e6d, 20px 20px 0 #2c6e6d, 40px 20px 0 #2c6e6d, 0 40px 0 #2c6e6d, 20px 40px 0 #2c6e6d, 40px 40px 0 #2c6e6d;
  }

  /* line 247, ../sass/loader.scss */
  60% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 #2c6e6d, 20px 20px 0 #2c6e6d, 40px 20px 0 #2c6e6d, 0 40px 0 #2c6e6d, 20px 40px 0 #2c6e6d, 40px 40px 0 #2c6e6d;
  }

  /* line 258, ../sass/loader.scss */
  65% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 #2c6e6d, 40px 20px 0 #2c6e6d, 0 40px 0 #2c6e6d, 20px 40px 0 #2c6e6d, 40px 40px 0 #2c6e6d;
  }

  /* line 269, ../sass/loader.scss */
  70% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 #2c6e6d, 0 40px 0 #2c6e6d, 20px 40px 0 #2c6e6d, 40px 40px 0 #2c6e6d;
  }

  /* line 280, ../sass/loader.scss */
  75% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 #2c6e6d, 20px 40px 0 #2c6e6d, 40px 40px 0 #2c6e6d;
  }

  /* line 291, ../sass/loader.scss */
  80% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 #2c6e6d, 40px 40px 0 #2c6e6d;
  }

  /* line 302, ../sass/loader.scss */
  85% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 #2c6e6d;
  }

  /* line 313, ../sass/loader.scss */
  90% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
  }

  /* line 324, ../sass/loader.scss */
  95% {
    background: transparent;
    box-shadow: 20px 0 0 transparent, 40px 0 0 transparent, 0 20px 0 transparent, 20px 20px 0 transparent, 40px 20px 0 transparent, 0 40px 0 transparent, 20px 40px 0 transparent, 40px 40px 0 transparent;
    z-index: 1;
  }

  /* line 336, ../sass/loader.scss */
  100% {
    background: #2c6e6d;
    box-shadow: 20px 0 0 #2c6e6d, 40px 0 0 #2c6e6d, 0 20px 0 #2c6e6d, 20px 20px 0 #2c6e6d, 40px 20px 0 #2c6e6d, 0 40px 0 #2c6e6d, 20px 40px 0 #2c6e6d, 40px 40px 0 #2c6e6d;
  }
}

@-webkit-keyframes rotate {
  /* line 350, ../sass/loader.scss */
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  /* line 353, ../sass/loader.scss */
  25% {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  /* line 356, ../sass/loader.scss */
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  /* line 359, ../sass/loader.scss */
  75% {
    transform: translate(-50%, -50%) rotate(270deg);
  }

  /* line 362, ../sass/loader.scss */
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
